div{
    height: 500px;
    min-height: 100%;
    max-height: 100%;
}
figure{
    display :inline-block;
    margin: 0 30%;;
}
#Header{
    background:url('Gallery/Pattern1.png') no-repeat center scrol;
    border: 3px solid red;
}
#about{
    background:khaki;
    border: 3px solid purple;
}