html,body{
    background: url("../Gallery/Background2.jpg") no-repeat center center fixed;
}
h1,p,h2,h3,h4{
    font-family: sans-serif ;
    margin: 0px;
    font-weight: 500;
}
h1{
    font-size: 6em;
    color: black;
    text-align: center;
}
div{
    height: 400px;
    min-height: 100%;
    max-height: 100%;
}
figure{
    display :inline-block;
    margin: 0 1%;
}
img{
    border-radius: 25px;
}
figcaption{
    font-weight: bolder;
    text-align: center;
}
#name{
    text-align: right;
    font-weight: bolder;
}
