html,body{
    font-family: sans-serif;
    background: url("../Gallery/Background2.jpg") no-repeat center center fixed;
}
h1{
    font-size: 6em;
    color: black;
    text-align: center;
    font-weight: bolder;
    text-shadow: black 3px 3px;
}
h2{
    font-weight: bolder;
    font-size: 4em;
}
div{
    height: 400px;
    min-height: 100%;
    max-height: 100%;
}
figure{
    display :inline-block;
    margin: 0 1%;
}
img{
    border-radius: 25px;
}
figcaption{
    font-weight: bolder;
    text-align: center;
}
#name{
    text-align: right;
    font-weight: bolder;
    margin-right: 30px;
}
legend{
    text-align: center;
}
